.vs/
bin/
obj/
.idea/
appsettings.json
TravelAgency/obj/Debug/net9.0/TravelAgency.AssemblyInfoInputs.cache
/TravelAgency/obj/Debug/net9.0
/TravelAgency/obj/Debug/net9.0
*.json
/TravelAgency/obj/Debug
/.vs
