@model TravelAgency.Models.User

<h2>Register</h2>

<form method="post">
    Full Name: <input name="FullName" /><br />
    Email: <input name="Email" type="email" /><br />
    Password: <input name="Password" type="password" /><br />
    <button type="submit">Register</button>
</form>